div.event-bus-listener {
  position: fixed;
  z-index: 6007;
  top: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.94);
  border: 1px solid black;
  font-size: 0.7rem;
  padding: 5px 0 5px 0;
  opacity: 0;
  transition: opacity 1s;
}