h1.content-index {
  font-weight: 200;
}

div.content-index h4 {
  font-weight: 500;
}

div.content-index div.card-block {
  padding: 0.8rem;
}

div.content-index div.card p.card-text {
  line-height: 130%;
}

div.content-index div.card a.btn {
  margin-right: 4px;
}
