ul.main-menu {
  padding-left: 0;

  li {
    display: inline;
    list-style-type: none;
    margin-right: 4px;
    font-size: 0.85rem;

    a {
      text-decoration: none;
      &.main-menu-active {
        text-decoration: underline;
      }
    }
  }
}