.navbar-fixed, .navbar-fixed nav, .navbar-fixed nav ul, .navbar-fixed nav ul li {
  height: 50px;
  line-height: 50px;
}

div.main-menu a {
  font-weight: 300;
  color: #444444;
}

div.main-menu li {
  transition: border-bottom 0.4s;
  border-bottom: 2px solid white;
}

div.main-menu li.main-menu-active {
  border-bottom: 2px solid black;
}